html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.custom-color-orange {
    background-color: #FE5F28;
}

.custom-color-blue {
    background-color: #18203D;
}

.text-custom-color-orange {
    color: #FE5F28;
}

.text-custom-color-blue {
    color: #18203D;
}

.btn.custom-color-orange:hover {
    background-color: #DF3901;
}

.btn.custom-color-blue:hover {
    background-color: #0B0F1D;
}

.custom-top-shadow {
    box-shadow: 0 -2px 4px 0 rgba(0,0,0,.2);
}

.custom-bottom-shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.margin-middle {
    margin: 100px auto;
}