@using NumAndDrive.Models;
@model User

<h2>Modifier un utilisateur</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <input asp-for="Id" type="hidden" />
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>

                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>

                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>

                <input type="submit" value="Save" class="btn btn-primary mt-4" />
            </div>
        </form>
    </div>
</div>

<div class="md-4">
    <a asp-action="GetUsers">Back to List</a>
</div>